body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container_form{
  width: 300px;
}

.border_radius{
  border-radius: 0.375rem;
}

.w_100{
  width: 100%;
}

.h_100{
  height: 100%;
}

.text_white{
  color: white;
}

.side_bar{
  width: 50px;
}

.top_bar{
  height: 50px;
}

.profile_image{
  border-radius: 50%;
}

.border_o{
  border-radius: 0.375rem 0.375rem 0 0 !important;
}

.border_0{
  border-radius: 0 !important;
}

.outgoing_message{
  border-radius: 0.375rem 0.375rem 0 0.375rem!important;
}

.incoming_message{
  border-radius: 0.375rem 0.375rem 0.375rem 0 !important;
}

.custom_overflow{
  overflow-y: auto;
  overflow-x: hidden;
}

.dashboard-container {
  height: 100vh;
  overflow: hidden;
}

.h_95{
  height: 95%;
}

.icon_center{
  margin-right: 20%;
}